backend/.env
backend/.env.*
backend/.phpunit.result.cache
backend/database/database.sqlite
backend/node_modules/
backend/vendor/
backend/bootstrap/cache/*.php
backend/public/build/
backend/storage/*.key
backend/storage/app/private/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/logs/*

mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/.idea/

.idea/
.vscode/
Thumbs.db
Desktop.ini
